body {
  background-color: #252323;
  margin: 0;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    margin: 0;
    color: #252323;
  }

  h1 {
    color: #19559f !important;
  }

  .content {
    background-color: #fff !important;
  }

  blockquote {
    border-left: 5px solid #19559f !important;
  }

  .reading-link {
    cursor: pointer;
    text-decoration: underline;
    color: #19559f;
  }
}

.dot-background {
  background-image: radial-gradient(#ed5043 10%, transparent 0);
  background-size: 35px 35px;
  top: 0;
}

hr {
  height: 35px;
  background-image: radial-gradient(#ed5043 10%, transparent 0);
  background-size: 35px 35px;
  border: none;
}

section.dot-background {
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: -1;
}

@media (max-width: 900px) {
  section.dot-background {
    height: 200px;
  }
}

footer.dot-background {
  height: 200px;
  width: 100%;
  z-index: -1;
}

.header {
  text-align: center;
  font-family: Courier, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #5aa0f5;
  font-family: Courier, sans-serif;
  text-align: center;
  font-size: 2em;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  margin: 0;
  border-left: 5px solid #5aa0f5;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.4em;
}

.header p {
  margin-top: 5px;
}

.content {
  max-width: 725px;
  min-height: 1000px;
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #252323;
}

.hide {
  display: none;
}

.content p {
  font-size: 1.1em;
  line-height: 1.4em;
}

.content img {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .content {
    padding: 20px 20px;
    top: 100px;
  }
}

.reading-link {
  cursor: pointer;
  text-decoration: underline;
  color: #5aa0f5;
}
